<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>The Natural Health Stack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css">
  </head>
  <body>
    <nav>
        <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="https://github.com/watadarkstar" data-style="mega" data-count-href="/watadarkstar/followers" data-count-api="/users/ntkme#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @watadarkstar on GitHub">Follow @watadarkstar</a>
    </nav>
    <header>
        <div class="bg"><div class="bg-inner"></div></div>
        <div class="text">
            <h1>The Natural Health Stack</h1>
            <h2>HUNDREDS OF REMEDIES USED BY 10,000+ TOP NATURAL HEALTH ADVOCATES</h2>
        </div>
    </header>
    <div class="container">
        <section class="filter">
            <a class="dropdown">
                All Categories
            </a>
            <a class="add" href="http://goo.gl/forms/tD66R4LNHO" target="_blank">
                ADD A REMEDY
            </a>
        </section>
        <section id="items" class="clearfix"></section>
        <footer class="clearfix">
            <p>
                The Natural Health Stack <span class="highlight">makes it easy to find the best remedies for a variety of conditions</span>. Keeping up with new remedies (not to mention finding the right ones for you!) can be challenging.
                <br/><br/>
                This list covers all the remedies a patient might find useful when fighting many difficulties or diseases, from fighting cancer to mental health issues like anxiety or depression.
                <br/><br/>
                We tried to be thorough, but we may have missed something. If you use a remedy that's not listed here, <a href="http://goo.gl/forms/tD66R4LNHO" target="_blank">please let us know</a>!
            </p>
        </footer>
    </div>
    <!-- scripts -->
    <!-- Place this tag right after the last button or just before your close body tag. -->
    <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
    <!--<script src="{{ url_for('static', filename='bower_components/masonry/dist/masonry.pkgd.js') }}"></script>-->
    <script src="{{ url_for('static', filename='bower_components/underscore/underscore-min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/babel/browser.min.js') }}"></script>
    <script type="text/babel">
        var data = [
            {
                id: 1, 
                title: "Anxiety", 
                items: [
                    {
                        id: 1, 
                        text: "Exercise",
                        link: "http://www.amazon.ca/Healthy-Brain-Happy-Life-Everything/dp/0062366785",
                        icon: "http://icons.iconarchive.com/icons/icons8/android/16/Sports-Exercise-icon.png",
                        votes: 101
                    },
                    {
                        id: 2, 
                        text: "Kava",
                        link: "http://bebrainfit.com/kava-for-anxiety/",
                        icon: "http://icons.iconarchive.com/icons/yusuke-kamiyamane/fugue/16/cup-tea-icon.png"
                    },
                    {
                        id: 3, 
                        text: "5 Minute Journal",
                        link: "http://www.fiveminutejournal.com/",
                        icon: "http://icons.iconarchive.com/icons/mattahan/buuf/16/A-Proper-Journal-Icon-icon.png"
                    }
                ]
            },
            {
                id: 2, 
                title: "Surgery", 
                items: [
                    {
                        id: 1, 
                        text: "Vitamin C",
                        icon: "https://getvitaminc.com/_themes/vitamin-c/img/c-icon.png",
                        link: "http://www.drweil.com/drw/u/ART02811/facts-on-vitamin-c",
                        votes: 169
                    },
                    {
                        id: 2,
                        text: "Affirming Tapes",
                        link: "http://www.drweil.com/drw/u/id/QAA400056",
                        icon: "http://icons.iconarchive.com/icons/iconsmind/outline/16/Headphones-icon.png"
                    }
                ]
            },
            {
                id: 3, 
                title: "Cancer", 
                items: [
                    {
                        id: 1, 
                        text: "Vitamin C",
                        icon: "https://getvitaminc.com/_themes/vitamin-c/img/c-icon.png",
                        link: "http://www.drweil.com/drw/u/ART02811/facts-on-vitamin-c",
                        votes: 56
                    }
                ]
            },
            {
                id: 4, 
                title: "Depression", 
                items: [
                    {
                        id: 1, 
                        text: "Exercise",
                        link: "http://www.amazon.ca/Healthy-Brain-Happy-Life-Everything/dp/0062366785",
                        icon: "http://icons.iconarchive.com/icons/icons8/android/16/Sports-Exercise-icon.png"
                    },
                    {
                        id: 2, 
                        text: "5 Minute Journal",
                        link: "http://www.fiveminutejournal.com/",
                        icon: "http://icons.iconarchive.com/icons/mattahan/buuf/16/A-Proper-Journal-Icon-icon.png",
                        votes: 55
                    }
                ]
            }
        ];

        /*** @jsx React.DOM */
        var Vote = React.createClass({
            getInitialState: function() {
                return {votes: this.props.votes ? this.props.votes : 0, voted: false};
            },
            handleClick: function(event) {
                if (!this.state.voted){
                    this.setState({votes: this.state.votes + 1, voted: true});
                }
            },
            render: function() {
                return (
                    <div onClick={this.handleClick} className="vote">
                        <span className="chevron-up"></span>
                        <span className="votes">{this.state.votes}</span>
                    </div>
                );
            }
        });
        
        var VotedItem = React.createClass({
            render: function() {
                var iconStyle = this.props.data.icon ? {
                    backgroundImage: 'url('+this.props.data.icon+')',
                } : {
                    backgroundImage: 'url(http://c.dryicons.com/images/icon_sets/medical_icons/png/128x128/medicine.png)'
                };
                
                return (
                    <li>
                        <a href={this.props.data.link} target="_blank">
                            <span className="icon" style={iconStyle}></span>
                            {this.props.data.text}
                        </a>
                        <Vote votes={this.props.data.votes}/>
                    </li>
                );
            }
        });
        
        var VotedItems = React.createClass({
            render: function() {
                var sorted = _.sortBy(this.props.data, function(o) { return o.votes; });
                return (
                    <article className="items">
                        <div className="items-inner">
                            <h1>{this.props.title}</h1>
                            <ul>
                                {sorted.map(function(result) {
                                    return <VotedItem key={result.id} data={result}/>;
                                })}
                            </ul>
                        </div>
                    </article>
                );
            }
        });
        
        var VotedItemsWrapper = React.createClass({
           render: function() {
               var sorted = _.sortBy(this.props.data, function(o) { return o.title; });
                return (
                    <section className="row">
                        {sorted.map(function(result) {
                            return <VotedItems key={result.id} title={result.title} data={result.items}/>;
                        })}
                    </section>
                );
           } 
        });
        
        ReactDOM.render(<VotedItemsWrapper data={data} />,
            document.getElementById('items')
        );
    </script>
  </body>
</html>