/* custom styles */

body, html {
    height: 100%;
}

a:hover, a {
      text-decoration: none !important;
}

body {
    font: 14px/26px 'Open Sans',sans-serif;
    color: #2d3438;
    background-color: #F6F9FB;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}


nav {
    height: 62px;
    background-color: white;
    padding: 15px;
}

nav .github-button, nav iframe {
    float: right;
}

header, header .bg-inner {
   height: 240px;
}

@media (max-width: 500px) {
    header, header .bg-inner {
        height: 310px;
    }
}

header {
    position: relative;
    text-align: center;
    vertical-align: middle;
}

header .bg {
     background-color: #1b1f29;
    height: inherit;
    width: inherit;
}

header .bg-inner {
    position: absolute;
    background-image: url(http://cache2.asset-cache.net/xc/511806055.jpg?v=2&c=IWSAsset&k=2&d=Mki4EXJ-Gk9IRAqgYXF2yFAMXsjR6x43z3d5Y3QwA4UC9tSyXg9kMyvvO2UJdY5d0);
    background-size: 600px 600px;
    background-repeat: repeat;
    background-position: center;
    width: 100%;
    opacity: 0.2;
}

header .text {
    position: absolute;
    display: block;
    top: 0;
    height: 200px;
    z-index: 100;
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 0 20px;
}

header h1, header h2 {
    margin: 0;
    color: white;
}

header h1 {
    padding-top: 75px;
    padding-bottom: 20px;
    font-size: 42px;
}

header h2 {
    font-size: 14px;
    line-height: 20px;
}

.filter {
    height: 49px;
    border-bottom: 1px solid rgba(0,0,0,0.07);
    margin-bottom: 30px;
}

.filter a {
    display: inline-block;
    height: inherit;
    padding: 14px 10px 10px 15px;
    color: #999;
}

.filter a:hover {
    color: #2d3438;
}

.filter .add {
    font-size: 12px;
    float: right;
}

.row {
    -moz-column-width: 300px;
    -webkit-column-width: 300px;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em;
    margin: 0;
}

.items {
    display: inline-block;
    min-width: 300px;
    padding-bottom: 30px;
}

@media (max-width: 800px) {
    .items {
        width: 100%;
    }
}

.items-inner {
    background: #fefefe;
    border: 1px solid #DDD;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.03);
    padding: 0;
}

.items:nth-child(4) {
    clear: both;
}

.items h1 {
    padding: 15px 15px 16px;
    font-size: 22px;
    font-weight: 300;
    cursor: default;
    background: white;
    border-bottom: 1px solid #DDD;
    border-radius: 6px 6px 0 0;
    margin: 0;
}

.items ul {
    margin: 0;
    padding: 0;
}

.items li {
    position: relative;
    list-style: none;
}

.items a {
    display: block;
    padding: 13px;
    border-bottom: 1px solid #ecf0f1;
    background: #fefefe;
    color: #777;
    transition: all 0.2s ease;
}

.items a:hover {
    font-weight: 1000;
    background: white;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.05),0 1px 6px rgba(0,0,0,0.1);
    -webkit-transform: scale(1.01) translateZ(1px);
    transform: scale(1.01) translateZ(1px);
}

.items .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: contain;
    position: relative;
    top: 1px;
    margin-right: 15px;
    margin-left: 2px;
}

.items .vote {
    position: absolute;
    height: 50px;
    width: 40px;
    text-align: center;
    padding-top: 15px;
    top: 0;
    right: 0;
    font-size: 10px;
    color: #AAA;
}

.vote .votes {
    top: 5px;
    position: relative;
}

.vote .chevron-up {
    border-style: solid;
    border-width: 0.1em 0.1em 0 0;
    content: '';
    display: inline-block;
    height: 0.7em;
    right: 17px;
    position: absolute;
    top: 16px;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.7em;
    border-color: #ccc;
}

.vote:hover {
    cursor: pointer;
    font-weight: bold;
    color: #999;
}

.vote:hover .chevron-up {
     border-width: 0.25em 0.25em 0 0;
     border-color: #999;
}

footer {
    text-align: center;
    margin-top: 80px;
    padding: 40px 40px 116px;
    margin: 40px 40px 0px;
    font-size: 18px;
    font-weight: 100;
    border-top: 1px dashed #242629;
}

.highlight {
    background-color: #FFFDCC;
}